.THIS.lookup__menu{
    display: inline-block;
}
.THIS .slds-pill-container
{
    width: 178px !important;
}
.THIS .container{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.THIS .content{
    width: 100%;
    height: 99%;
    overflow: auto;
    padding-right: 15px;
}
.THIS .lookup-Height{
    height: 36px !important;
}
.THIS .slds-icon_container_circle{
    padding-top: 5px !important;
    padding-bottom: 4px !important;
}
.THIS .setWidth{
    width:150px !important;
    height: 28px !important;;
}
.THIS .setBorder{
    border: 1px solid lightgray !important;
}
.THIS .slds-show{
    display: inline-block;
}
.THIS .removeUpperSpaceCSS{
    display: grid;
}
.THIS .borderRedSearch{
    border: 1px solid red;
}