<apex:page standardController="account" extensions="AccountController">
<apex:form >
<apex:pageBlock title="Account">
<apex:pageBlockSection title="Account Information">
<apex:outputField value="{!account.ownerId}"/>
<apex:inputField value="{!account.Name}"/>
 <!--   <apex:inputField value="{!account.RecordTypeId}"/>
    <apex:inputField value="{!account.ApplicationUserID__c	}"/>
    <apex:inputField value="{!account.Campaign__c}"/>
    <apex:inputField value="{!account.Coupon__c}"/>
    <apex:inputField value="{!account.rh2__Describe__pc	}"/>
    <apex:inputField value="{!account.SBQQ__DefaultOpportunity__c}"/>

<apex:inputField value="{!account.CurrencyIsoCode}"/>--->
<apex:inputField value="{!account.phone}"/>
</apex:pageBlockSection>
<apex:commandButton value="Save" action="{!Save}"/>
</apex:pageBlock>
</apex:form>
</apex:page>