<apex:page controller="DemoTesting">
    
    <apex:dataTable value="{!l1}" var="key"
        styleClass="tableClass w3-table-all w3-hoverable" style="padding-left: 0px; margin-top:25px;"  border="1" width="100%" headerClass="myHeader">
            <apex:repeat value="{!discountMap[key]}" var="map">
            <apex:column style="text-align:center;font-size: 11px;font-family:Helvetica;" >
                <apex:facet name="header"><div style="text-align:center;">{!map}</div></apex:facet>
                <apex:outputText value="{!map}"/>
            </apex:column>
        </apex:repeat>
    </apex:dataTable>
    
        
    
    
    
</apex:page>