<apex:page >
    
    
  <p><html>
<head>

<style type='text/css'>
.embeddedServiceSidebarState{ overflow: scroll;}
.embeddedServiceSidebar.layout-docked .dockableContainer {
    width: 320px;
    max-height: 498px;
    border-radius: 8px 8px 0 0;
    right: 195px;
    height:60%;
}
.minimizedContainer{margin-right: 196px;height: 30px;} 
.embeddedServiceHelpButton .helpButton{right: 195px;height: 30px;}
 .embeddedServiceHelpButton .helpButton .uiButton { background-color: #005290; font-family: "Salesforce Sans", sans-serif; padding-bottom: 16px;}<br /> .embeddedServiceHelpButton .helpButton .uiButton:focus { outline: 1px solid #005290; }<br /> @font-face {<br /> font-family: 'Salesforce Sans';<br /> src: url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Regular.woff') format('woff'),<br /> url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Regular.ttf') format('truetype');<br /> }<br />
</style>
<script type='text/javascript' src='https://service.force.com/embeddedservice/5.0/esw.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type='text/javascript'>
function offlines() {
            debugger;
               $('.stateBody').html($('.OfflineForm').html());
 }
 

function stickyInit($){
 var demo = window.setInterval(check_sticky,50);
        function check_sticky(){
                var heading = $('.headerTextContent').find('#headerTextLabel').text();
                if(heading ==="Contact Us"){
                     offlines();
                     $(".closeButton ").attr('onclick','stickyInit($)');
                     window.clearInterval(demo);
                }
        }

   
}

jQuery(document).ready(function ($) {

    stickyInit($);

});

</script>
<script type='text/javascript'>
var initESW = function(gslbBaseURL) {
embedded_svc.settings.displayHelpButton = true; //Or false
embedded_svc.settings.language = ''; //For example, enter 'en' or 'en-US'
//embedded_svc.settings.defaultMinimizedText = '...'; //(Defaults to Chat with an Expert)
//embedded_svc.settings.disabledMinimizedText = '...'; //(Defaults to Agent Offline)
//embedded_svc.settings.loadingText = ''; //(Defaults to Loading)
//embedded_svc.settings.storageDomain = 'yourdomain.com'; //(Sets the domain for your deployment so that visitors can navigate subdomains during a chat session)
// Settings for Live Agent
//embedded_svc.settings.directToButtonRouting = function(prechatFormData) {
// Dynamically changes the button ID based on what the visitor enters in the pre-chat form.
// Returns a valid button ID.
//};
//embedded_svc.settings.prepopulatedPrechatFields = {}; //Sets the auto-population of pre-chat form fields
//embedded_svc.settings.fallbackRouting = []; //An array of button IDs, user IDs, or userId_buttonId
//embedded_svc.settings.offlineSupportMinimizedText = '...'; //(Defaults to Contact Us)
embedded_svc.settings.enabledFeatures = ['LiveAgent'];
embedded_svc.settings.entryFeature = 'LiveAgent';
embedded_svc.init('https://na59.salesforce.com', 'https://myairbags.secure.force.com/faqs', gslbBaseURL, '00Df40000037vR5', 'Live_Agent_Deployment', { 
baseLiveAgentContentURL: 'https://c.la4-c1-dfw.salesforceliveagent.com/content', 
deploymentId: '572f4000000DrCI', 
buttonId: '573f4000000Dpbu', 
baseLiveAgentURL: 'https://d.la4-c1-dfw.salesforceliveagent.com/chat', 
eswLiveAgentDevName: 'EmbeddedServiceLiveAgent_Parent04If4000000PE6iEAG_163f0a9455c', 
isOfflineSupportEnabled: true}); 
};
if (!window.embedded_svc) { 
var s = document.createElement('script'); 
s.setAttribute('src', 'https://na59.salesforce.com/embeddedservice/5.0/esw.min.js'); 
s.onload = function() { initESW(null); }; 
document.body.appendChild(s); 
} else { initESW('https://service.force.com'); 

}

</script>
    <script>
	function Myfunction() {
    debugger;
$('.uiButton').click();
}
	
</script>
</head>
<body>
    
     <a href="#" onclick="Myfunction(); return false;">Salesforce Live Agent</a>
<div class="OfflineForm" style="display:none;">
<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <META> element to your page <HEAD>.      -->
<!--  If necessary, please modify the charset parameter to specify the        -->
<!--  character set of your HTML page.                                        -->
<!--  ----------------------------------------------------------------------  -->
    <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8"/>
<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <FORM> element to your page.             -->
<!--  ----------------------------------------------------------------------  -->
<div class="offline message" style="
    text-align: left;
    padding-left: 22px;
    padding-right: 28px;
    line-height: 1.6;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #666;
    padding-top:12px;
"><p style="padding-bottom: 10px;">Sorry, we aren't online at the moment. Leave a contact and message and we'll get back to you.</p>
    <p style="padding-bottom: 10px;">Operating Hours:<br/>Mon-Fri 9:00am - 5:00pm EST<br/>Saturday &amp; Sunday Closed</p>
</div>
<form action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST">
    <input type="hidden" name="orgid" value="00Df40000037vR5"/>
    <input type="hidden" name="retURL" value="https://www.myairbags.com"/>
<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
<!--  these lines if you wish to test in debug mode.                          -->
<!--  <input type="hidden" name="debug" value=1>                              -->
<!--  <input type="hidden" name="debugEmail" value="sandyrev@gmail.com">      -->
<!--  ----------------------------------------------------------------------  -->
<label for="name"  style="float: left;padding-left:22px;font-weight: bold;font-size: 12px;">Contact Name</label>
<input  id="name" maxlength="80" name="name" size="40" type="text" style="
    width:  auto;
    margin-bottom: 2px;
    -webkit-border-radius: 7px;height:28px;

    
                                                                          "/><br/>
<label for="email" style="
    float: left;padding-left:22px;font-weight: bold;font-size: 12px;
">Email</label><input  id="email" maxlength="80" name="email" size="40" type="text" style="
    width: auto;
    margin-bottom: 10px;
    -webkit-border-radius: 7px;height:28px;
                                                                                           "/><br/>
<label for="phone" style="
   float: left;padding-left:22px;font-weight: bold;font-size: 12px;
">Phone</label><input  id="phone" maxlength="40" name="phone" size="40" type="text" style="
    width: auto;
    margin-bottom: 10px;
    -webkit-border-radius: 7px;height:28px;
                                                                                           "/><br/>
<label for="subject" style="
   float: left;padding-left:22px;font-weight: bold;font-size: 12px;
">Subject</label><input  id="subject" maxlength="80" name="subject" size="40" type="text" style="
    width: auto;
    margin-bottom: 10px;
    -webkit-border-radius: 7px;height:28px;
                                                                                                 "/><br/>
<label for="description" style="
   float: left;padding-left:22px;font-weight: bold;font-size: 12px;
">Description</label><textarea name="description" style="
    width: 264px;
    -webkit-border-radius: 7px;height:35px;
                                                         "></textarea><br/>
<div style="
    margin-top: 4px;
">
    <input type="submit" name="submit"/>
</div>
</form>
</div>
</body>
</html></p> 
</apex:page>