<apex:page >
<!-- Code Copied from Button Configuration -->
<img id="liveagent_button_online_57890000000PIxV" style="display: none; border: 0px none; cursor: pointer" onclick="liveagent.startChat('57390000000PIxV')" src="https://cogni.secure.force.com/resource/13783979092000/OnlineChatbutton" /><img id="liveagent_button_offline_57890000000PIxV" style="display: none; border: 0px none; " src="https://cogni.secure.force.com/resource/1783979087000/OfflineChatButton" />
<script type="text/javascript">
if (!window._laq) { window._laq = []; }
window._laq.push(function(){liveagent.showWhenOnline('57390000000PIxV', document.getElementById('liveagent_button_online_57390000000PIxV'));
liveagent.showWhenOffline('57390000000PIxV', document.getElementById('liveagent_button_offline_57890000000PIxV'));
});</script>

<!-- Code Copied from Deployment -->
<script type='text/javascript' src='https://c.la1t1.salesforceliveagent.com/content/g/js/34.0/deployment.js'></script>
<script type='text/javascript'>
liveagent.init('https://d.la1t1.salesforceliveagent.com/chat', '5890000000PIm0', '00D90000000hZll');
</script>


</apex:page>