<apex:page controller="ShowProductList"  sidebar="false">
  <apex:form >
  <apex:Commandlink action="{!selectProducts}" rerender="productlist,Quotehistory,QuoteDetails"><b>Select Products</b></apex:Commandlink><br/><br/>
  <apex:commandlink action="{!ShowQuotehistory}" rerender="productlist,Quotehistory,QuoteDetails"><b>Quote History</b></apex:commandlink><br/><br/>
  <apex:outputpanel id="productlist">
  <apex:pageblock rendered="{!showproductlist}">
      <apex:pageblocksection title="Select Products here">
          <apex:pageblockTable value="{!lstproduct2}" var="objproduct">
              <apex:column >
                  <apex:inputcheckbox value="{!objproduct.ischecked}"/>
              </apex:column>
              <apex:column headervalue="Product Name">
                  <apex:outputText value="{!objproduct.objproduct.name}"/>
              </apex:column>
              <apex:column headervalue="Price">
                  <apex:outputText value="{!objproduct.Price}"/>
              </apex:column>
          </apex:pageblockTable>
      </apex:pageblocksection>     
      <apex:commandbutton value="Submit Quote" action="{!submitorder}" rerender="productlist,Quotehistory"/>
  </apex:pageblock>
  
  </apex:outputpanel>
  <table width="100%">
  <tr><td width="50%">
  <apex:outputpanel id="Quotehistory">
      <apex:pageblock rendered="{!showQuoteHistory}">
      <apex:pageblocksection title="Quote Hstory">
          <apex:pageblockTable value="{!lstQuote}" var="objQuote">
              
              <apex:column headervalue="Quote Name">
                  <apex:Commandlink value="{!objQuote.Name}" action="{!goToQuoteDetail}" rerender="QuoteDetails">
                      <apex:param assignTo="{!selectedQuote}" name="" value="{!objQuote.id}"/>
                  </apex:commandlink>
              </apex:column>
              <apex:column headervalue="Start Date">
                  <apex:outputtext value="{!objQuote.SBQQ__StartDate__c}"/>
              </apex:column>
          </apex:pageblockTable>
      </apex:pageblocksection>     
      
  </apex:pageblock>
  </apex:outputpanel>
  </td><td width="50%" valign="Top">
  <apex:outputpanel id="QuoteDetails">
      <apex:pageblock rendered="{!showquoteline}">
      <apex:pageblocksection >
          <apex:outputtext value="{!selectedQuoteName}"/>
      </apex:pageblocksection>
      <apex:pageblocksection title="Quote Details">          
          <apex:pageblockTable value="{!lstQuoteline}" var="objQuoteline">              
              <apex:column headervalue="Name">
                  <apex:outputtext value="{!objQuoteline.Name}"/>
              </apex:column>
              <apex:column headervalue="Net Total">
                  <apex:outputtext value="{!objQuoteline.SBQQ__NetTotal__c}"/>
              </apex:column>
              <apex:column headervalue="Product">
                  <apex:outputtext value="{!objQuoteline.SBQQ__Product__r.name}"/>
              </apex:column>
          </apex:pageblockTable>
      </apex:pageblocksection>     
      
  </apex:pageblock>
  </apex:outputpanel>
  </td></tr></table>
  </apex:form>
</apex:page>